In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import datetime 
import json

In [3]:
file = 'Resources/kc_house_data.csv'
df=pd.read_csv(file)
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
df.sort_values('date')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
16768,5561000190,20140502T000000,437500.0,3,2.25,1970,35100,2.0,0,0,...,9,1970,0,1977,0,98027,47.4635,-121.991,2340,35100
9596,472000620,20140502T000000,790000.0,3,2.50,2600,4750,1.0,0,0,...,9,1700,900,1951,0,98117,47.6833,-122.400,2380,4750
9587,1024069009,20140502T000000,675000.0,5,2.50,2820,67518,2.0,0,0,...,8,2820,0,1979,0,98029,47.5794,-122.025,2820,48351
20602,7853361370,20140502T000000,555000.0,4,2.50,3310,6500,2.0,0,0,...,8,3310,0,2012,0,98065,47.5150,-121.870,2380,5000
11577,5056500260,20140502T000000,440000.0,4,2.25,2160,8119,1.0,0,0,...,8,1080,1080,1966,0,98006,47.5443,-122.177,1850,9000
20559,3438501320,20140502T000000,295000.0,2,2.50,1630,1368,2.0,0,0,...,7,1280,350,2009,0,98106,47.5489,-122.363,1590,2306
18690,1737320120,20140502T000000,470000.0,5,2.50,2210,9655,1.0,0,0,...,8,1460,750,1976,0,98011,47.7698,-122.222,2080,8633
1041,7197300105,20140502T000000,550000.0,4,2.50,1940,10500,1.0,0,0,...,7,1140,800,1976,0,98052,47.6830,-122.114,2200,10500
172,1999700045,20140502T000000,313000.0,3,1.50,1340,7912,1.5,0,0,...,7,1340,0,1955,0,98133,47.7658,-122.339,1480,7940
7734,1962200037,20140502T000000,626000.0,3,2.25,1750,1572,2.5,0,0,...,9,1470,280,2005,0,98102,47.6498,-122.321,2410,3050
5956,3328500250,20140502T000000,285000.0,4,2.50,2200,9397,2.0,0,0,...,8,2200,0,1987,0,98001,47.3406,-122.269,2310,9176
7942,1088800850,20140502T000000,612500.0,4,2.50,2730,12261,2.0,0,0,...,9,2730,0,1991,0,98011,47.7419,-122.205,2730,10872
11907,3221059036,20140502T000000,400000.0,4,2.50,3630,42884,1.5,0,0,...,9,2300,1330,1979,0,98092,47.2617,-122.190,2830,80148
7961,5101405331,20140502T000000,495000.0,4,1.75,1600,6380,1.0,0,0,...,8,1130,470,1959,0,98125,47.7010,-122.306,1090,6380
16880,6403500290,20140502T000000,407500.0,3,2.50,1930,10460,2.0,0,0,...,8,1930,0,1996,0,98059,47.4938,-122.161,2290,8228
20149,2771102144,20140502T000000,385000.0,3,3.25,1320,1327,2.0,0,0,...,8,1040,280,2008,0,98199,47.6506,-122.383,1440,1263
1393,5100401414,20140502T000000,490000.0,2,1.00,880,6380,1.0,0,0,...,7,880,0,1938,1994,98115,47.6924,-122.322,1340,6380
16923,8673400086,20140502T000000,445700.0,3,2.50,1270,1180,3.0,0,0,...,8,1270,0,2001,0,98107,47.6697,-122.392,1320,1180
14088,943100683,20140502T000000,335000.0,3,2.25,1580,16215,1.0,0,0,...,7,1580,0,1978,0,98024,47.5643,-121.897,1450,16215
11891,7305300695,20140502T000000,625000.0,4,2.50,2820,8408,2.0,0,0,...,9,2820,0,2014,0,98155,47.7538,-122.325,1300,8408
11503,9294300070,20140502T000000,650000.0,4,2.00,1820,5000,1.5,0,1,...,7,1640,180,1945,0,98115,47.6815,-122.269,2060,5000
3723,7739100015,20140502T000000,463000.0,3,1.75,1710,7320,1.0,0,0,...,7,1710,0,1948,0,98155,47.7512,-122.281,2260,8839
3714,6127600110,20140502T000000,640000.0,4,2.00,1520,6200,1.5,0,0,...,7,1520,0,1945,0,98115,47.6780,-122.269,1910,6200
10701,2738600140,20140502T000000,499950.0,4,2.50,2860,3345,2.0,0,0,...,8,2190,670,2004,0,98072,47.7735,-122.158,2860,3596
21390,3832050580,20140502T000000,300000.0,3,2.50,2540,5050,2.0,0,0,...,7,2540,0,2006,0,98042,47.3358,-122.055,2280,5050
7323,2202500290,20140502T000000,435000.0,4,1.00,1450,8800,1.0,0,0,...,7,1450,0,1954,0,98006,47.5746,-122.135,1260,8942
13980,1818800144,20140502T000000,750000.0,3,2.50,2390,6550,1.0,0,2,...,8,1440,950,1955,0,98116,47.5714,-122.408,2010,6550
15921,7831800460,20140502T000000,235000.0,2,1.00,1210,9400,1.0,0,0,...,6,1210,0,1949,0,98106,47.5342,-122.360,1580,6026
10246,3876200060,20140502T000000,382500.0,4,1.75,1560,8700,1.0,0,0,...,7,1560,0,1967,0,98034,47.7274,-122.181,2080,8000
21287,123059127,20140502T000000,625000.0,4,3.25,2730,54014,1.0,0,0,...,9,1560,1170,2007,0,98059,47.5133,-122.110,2730,111274
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7894,2122049013,20150513T000000,204750.0,2,1.00,880,7575,1.0,0,0,...,7,880,0,1942,0,98198,47.3757,-122.304,1800,7575
11875,9567800435,20150513T000000,465000.0,4,1.75,1640,7194,1.5,0,0,...,7,1480,160,1915,0,98011,47.7649,-122.205,1440,9405
3067,6145600900,20150513T000000,325000.0,2,2.50,1170,1638,2.0,0,0,...,8,1170,0,2008,0,98133,47.7041,-122.351,1350,1407
5746,9542801310,20150513T000000,267000.0,3,2.25,2510,9900,1.0,0,0,...,8,1610,900,1978,0,98023,47.2988,-122.374,1940,8510
9647,5634500234,20150513T000000,554990.0,3,2.50,2100,6092,2.0,0,0,...,8,2100,0,2013,0,98028,47.7508,-122.239,2250,8592
3770,2112700600,20150513T000000,415000.0,3,2.25,1640,5880,1.0,0,0,...,7,1240,400,1977,0,98106,47.5323,-122.351,1200,4760
21088,2867300170,20150513T000000,498000.0,4,2.50,3402,14355,2.0,0,0,...,10,2846,556,2014,0,98023,47.3009,-122.385,3402,8487
17501,3764650010,20150513T000000,500000.0,3,2.50,2300,4307,2.0,0,0,...,8,2300,0,1998,0,98034,47.7326,-122.197,2010,4307
8625,2568200610,20150513T000000,751000.0,5,2.75,2860,5280,2.0,0,0,...,9,2860,0,2006,0,98052,47.7070,-122.102,3150,6442
8482,7399000360,20150513T000000,330000.0,4,1.75,1720,8300,1.0,0,0,...,8,1720,0,1965,0,98055,47.4654,-122.194,1840,8300
817,1922059135,20150513T000000,250000.0,2,2.00,1130,5500,1.0,0,0,...,6,1130,0,1941,0,98030,47.3839,-122.225,1320,6600
1097,5457300478,20150513T000000,453500.0,2,1.75,1000,1760,1.0,0,0,...,6,600,400,1924,0,98109,47.6261,-122.355,2120,2802
19516,3649100015,20150513T000000,480000.0,3,2.25,1820,15000,1.0,0,0,...,7,1480,340,1978,0,98028,47.7401,-122.249,1930,13600
6441,2698200010,20150513T000000,165000.0,3,1.00,1380,7334,1.0,0,0,...,7,980,400,1981,0,98055,47.4339,-122.192,1910,7859
7350,1604590190,20150513T000000,775000.0,5,3.50,3730,16679,1.0,0,0,...,10,2760,970,1990,0,98075,47.5987,-122.029,3280,16679
837,8682262400,20150513T000000,419950.0,2,1.75,1350,4003,1.0,0,0,...,8,1350,0,2004,0,98053,47.7176,-122.033,1350,4479
21450,8562790720,20150514T000000,749950.0,4,3.50,2630,3757,2.0,0,0,...,10,2200,430,2008,0,98027,47.5322,-122.075,2620,2699
20472,5057100110,20150514T000000,479349.0,5,3.00,3223,6371,2.0,0,0,...,9,3223,0,2014,0,98042,47.3584,-122.163,1979,9008
15811,7129304540,20150514T000000,440000.0,5,2.00,1430,5600,1.5,0,0,...,6,1430,0,1947,0,98118,47.5192,-122.266,1860,5980
7224,1786200010,20150514T000000,456500.0,4,2.50,2580,11780,2.0,0,0,...,9,2580,0,2003,0,98038,47.3658,-122.040,2410,8403
6197,9178601660,20150514T000000,1700000.0,5,3.00,3320,5354,2.0,0,0,...,9,3320,0,2004,0,98103,47.6542,-122.331,2330,4040
12635,4166600610,20150514T000000,335000.0,3,2.00,1410,44866,1.0,0,0,...,7,1410,0,1985,0,98023,47.3273,-122.370,2950,29152
19396,8149600265,20150514T000000,725000.0,4,1.75,1980,5850,1.0,0,1,...,8,1380,600,1960,0,98116,47.5607,-122.391,1810,5850
11560,6752600320,20150514T000000,360000.0,4,2.50,2020,7289,2.0,0,0,...,7,2020,0,1994,0,98031,47.4010,-122.171,2090,7259
17397,6815100380,20150514T000000,855000.0,3,1.75,1900,4000,1.0,0,0,...,7,1300,600,1965,0,98103,47.6854,-122.331,1880,4000
7898,1422700040,20150514T000000,183000.0,3,1.00,1170,7320,1.0,0,0,...,7,1170,0,1962,0,98188,47.4685,-122.282,2040,7320
928,8730000270,20150514T000000,359000.0,2,2.75,1370,1140,2.0,0,0,...,8,1080,290,2009,0,98133,47.7052,-122.343,1370,1090
5637,7923600250,20150515T000000,450000.0,5,2.00,1870,7344,1.5,0,0,...,7,1870,0,1960,0,98007,47.5951,-122.144,1870,7650
13053,5101400871,20150524T000000,445500.0,2,1.75,1390,6670,1.0,0,0,...,6,720,670,1941,0,98115,47.6914,-122.308,920,6380
16594,9106000005,20150527T000000,1310000.0,4,2.25,3750,5000,2.0,0,0,...,8,2440,1310,1924,0,98115,47.6747,-122.303,2170,4590

In [18]:
weatherdata = pd.read_json('Resources/23075d28543cff25d003a483a55b9d88.json')

weatherdata.head()

,city_id,clouds,dt,dt_iso,main,rain,snow,weather,wind
0,5799783,{'all': 1},1356998400,2013-01-01 00:00:00 +0000 UTC,"{'temp': 275.62, 'temp_min': 271.48, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 1, 'deg': 350}"
1,5799783,{'all': 1},1357002000,2013-01-01 01:00:00 +0000 UTC,"{'temp': 275.61, 'temp_min': 273.71, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 0}"
2,5799783,{'all': 20},1357005600,2013-01-01 02:00:00 +0000 UTC,"{'temp': 274.23, 'temp_min': 270.37, 'temp_max...",NaN,NaN,"[{'id': 801, 'main': 'Clouds', 'description': ...","{'speed': 0, 'deg': 0}"
3,5799783,{'all': 1},1357009200,2013-01-01 03:00:00 +0000 UTC,"{'temp': 273.95, 'temp_min': 270.37, 'temp_max...",NaN,NaN,"[{'id': 701, 'main': 'Mist', 'description': 'm...","{'speed': 0, 'deg': 0}"
4,5799783,{'all': 75},1357012800,2013-01-01 04:00:00 +0000 UTC,"{'temp': 273.55, 'temp_min': 269.82, 'temp_max...",NaN,NaN,"[{'id': 701, 'main': 'Mist', 'description': 'm...","{'speed': 0, 'deg': 0}"

In [20]:
#new_df = pd.DataFrame(weatherdata["weather"])
#new_df.head()
#weatherdata["new_col22"] = [row.get("temp_min") for row in weatherdata["main"]]

,city_id,clouds,dt,dt_iso,main,rain,snow,weather,wind,new_col,new_col22
0,5799783,{'all': 1},1356998400,2013-01-01 00:00:00 +0000 UTC,"{'temp': 275.62, 'temp_min': 271.48, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 1, 'deg': 350}",271.48,271.48
1,5799783,{'all': 1},1357002000,2013-01-01 01:00:00 +0000 UTC,"{'temp': 275.61, 'temp_min': 273.71, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 0}",273.71,273.71
2,5799783,{'all': 20},1357005600,2013-01-01 02:00:00 +0000 UTC,"{'temp': 274.23, 'temp_min': 270.37, 'temp_max...",NaN,NaN,"[{'id': 801, 'main': 'Clouds', 'description': ...","{'speed': 0, 'deg': 0}",270.37,270.37
3,5799783,{'all': 1},1357009200,2013-01-01 03:00:00 +0000 UTC,"{'temp': 273.95, 'temp_min': 270.37, 'temp_max...",NaN,NaN,"[{'id': 701, 'main': 'Mist', 'description': 'm...","{'speed': 0, 'deg': 0}",270.37,270.37
4,5799783,{'all': 75},1357012800,2013-01-01 04:00:00 +0000 UTC,"{'temp': 273.55, 'temp_min': 269.82, 'temp_max...",NaN,NaN,"[{'id': 701, 'main': 'Mist', 'description': 'm...","{'speed': 0, 'deg': 0}",269.82,269.82

In [22]:
#weatherdata.drop(columns =["new_col", "new_col22"])

,city_id,clouds,dt,dt_iso,main,rain,snow,weather,wind
0,5799783,{'all': 1},1356998400,2013-01-01 00:00:00 +0000 UTC,"{'temp': 275.62, 'temp_min': 271.48, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 1, 'deg': 350}"
1,5799783,{'all': 1},1357002000,2013-01-01 01:00:00 +0000 UTC,"{'temp': 275.61, 'temp_min': 273.71, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 0}"
2,5799783,{'all': 20},1357005600,2013-01-01 02:00:00 +0000 UTC,"{'temp': 274.23, 'temp_min': 270.37, 'temp_max...",NaN,NaN,"[{'id': 801, 'main': 'Clouds', 'description': ...","{'speed': 0, 'deg': 0}"
3,5799783,{'all': 1},1357009200,2013-01-01 03:00:00 +0000 UTC,"{'temp': 273.95, 'temp_min': 270.37, 'temp_max...",NaN,NaN,"[{'id': 701, 'main': 'Mist', 'description': 'm...","{'speed': 0, 'deg': 0}"
4,5799783,{'all': 75},1357012800,2013-01-01 04:00:00 +0000 UTC,"{'temp': 273.55, 'temp_min': 269.82, 'temp_max...",NaN,NaN,"[{'id': 701, 'main': 'Mist', 'description': 'm...","{'speed': 0, 'deg': 0}"
5,5799783,{'all': 90},1357016400,2013-01-01 05:00:00 +0000 UTC,"{'temp': 273.38, 'temp_min': 269.82, 'temp_max...",NaN,NaN,"[{'id': 701, 'main': 'Mist', 'description': 'm...","{'speed': 0, 'deg': 0}"
6,5799783,{'all': 1},1357020000,2013-01-01 06:00:00 +0000 UTC,"{'temp': 273.3, 'temp_min': 269.26, 'temp_max'...","{'1h': 0, 'today': 0}",NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 52}"
7,5799783,{'all': 90},1357023600,2013-01-01 07:00:00 +0000 UTC,"{'temp': 272.46, 'temp_min': 269.26, 'temp_max...",NaN,NaN,"[{'id': 701, 'main': 'Mist', 'description': 'm...","{'speed': 1, 'deg': 160}"
8,5799783,{'all': 20},1357027200,2013-01-01 08:00:00 +0000 UTC,"{'temp': 272.61, 'temp_min': 269.26, 'temp_max...",NaN,NaN,"[{'id': 701, 'main': 'Mist', 'description': 'm...","{'speed': 0, 'deg': 0}"
9,5799783,{'all': 1},1357030800,2013-01-01 09:00:00 +0000 UTC,"{'temp': 272.54, 'temp_min': 269.26, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 0}"
10,5799783,{'all': 1},1357034400,2013-01-01 10:00:00 +0000 UTC,"{'temp': 272.54, 'temp_min': 269.82, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 0}"
11,5799783,{'all': 20},1357038000,2013-01-01 11:00:00 +0000 UTC,"{'temp': 272.32, 'temp_min': 269.82, 'temp_max...",NaN,NaN,"[{'id': 801, 'main': 'Clouds', 'description': ...","{'speed': 0, 'deg': 0}"
12,5799783,{'all': 90},1357041600,2013-01-01 12:00:00 +0000 UTC,"{'temp': 272.54, 'temp_min': 269.82, 'temp_max...",NaN,NaN,"[{'id': 741, 'main': 'Fog', 'description': 'fo...","{'speed': 1, 'deg': 150}"
13,5799783,{'all': 90},1357045200,2013-01-01 13:00:00 +0000 UTC,"{'temp': 272.21, 'temp_min': 269.26, 'temp_max...",NaN,NaN,"[{'id': 741, 'main': 'Fog', 'description': 'fo...","{'speed': 0, 'deg': 0}"
14,5799783,{'all': 40},1357048800,2013-01-01 14:00:00 +0000 UTC,"{'temp': 272.35, 'temp_min': 269.26, 'temp_max...",NaN,NaN,"[{'id': 701, 'main': 'Mist', 'description': 'm...","{'speed': 0, 'deg': 0}"
15,5799783,{'all': 1},1357052400,2013-01-01 15:00:00 +0000 UTC,"{'temp': 272.68, 'temp_min': 269.26, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 0}"
16,5799783,{'all': 1},1357056000,2013-01-01 16:00:00 +0000 UTC,"{'temp': 272.88, 'temp_min': 269.26, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 0}"
17,5799783,{'all': 1},1357059600,2013-01-01 17:00:00 +0000 UTC,"{'temp': 273.16, 'temp_min': 269.26, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 1, 'deg': 150}"
18,5799783,{'all': 1},1357063200,2013-01-01 18:00:00 +0000 UTC,"{'temp': 274.04, 'temp_min': 269.82, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 0}"
19,5799783,{'all': 1},1357066800,2013-01-01 19:00:00 +0000 UTC,"{'temp': 274.84, 'temp_min': 272.04, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 0}"
20,5799783,{'all': 1},1357070400,2013-01-01 20:00:00 +0000 UTC,"{'temp': 275.39, 'temp_min': 272.04, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 0}"
21,5799783,{'all': 90},1357074000,2013-01-01 21:00:00 +0000 UTC,"{'temp': 275.66, 'temp_min': 272.04, 'temp_max...",NaN,NaN,"[{'id': 804, 'main': 'Clouds', 'description': ...","{'speed': 1, 'deg': 290}"
22,5799783,{'all': 75},1357077600,2013-01-01 22:00:00 +0000 UTC,"{'temp': 275.94, 'temp_min': 270.93, 'temp_max...",NaN,NaN,"[{'id': 803, 'main': 'Clouds', 'description': ...","{'speed': 0, 'deg': 0}"
23,5799783,{'all': 90},1357081200,2013-01-01 23:00:00 +0000 UTC,"{'temp': 276.67, 'temp_min': 275.37, 'temp_max...",NaN,NaN,"[{'id': 804, 'main': 'Clouds', 'description': ...","{'speed': 1, 'deg': 320}"
24,5799783,{'all': 90},1357084800,2013-01-02 00:00:00 +0000 UTC,"{'temp': 275.48, 'temp_min': 269.82, 'temp_max...",NaN,NaN,"[{'id': 804, 'main': 'Clouds', 'description': ...","{'speed': 1, 'deg': 330}"
25,5799783,{'all': 1},1357088400,2013-01-02 01:00:00 +0000 UTC,"{'temp': 274.85, 'temp_min': 270.37, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 4, 'deg': 320}"
26,5799783,{'all': 1},1357092000,2013-01-02 02:00:00 +0000 UTC,"{'temp': 274.53, 'temp_min': 270.37, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 2, 'deg': 360}"
27,5799783,{'all': 1},1357095600,2013-01-02 03:00:00 +0000 UTC,"{'temp': 274.01, 'temp_min': 269.26, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 2, 'deg': 360}"
28,5799783,{'all': 75},1357099200,2013-01-02 04:00:00 +0000 UTC,"{'temp': 274.86, 'temp_min': 270.93, 'temp_max...",NaN,NaN,"[{'id': 803, 'main': 'Clouds', 'description': ...","{'speed': 2, 'deg': 20}"
29,5799783,{'all': 20},1357102800,2013-01-02 05:00:00 +0000 UTC,"{'temp': 273.55, 'temp_min': 268.71, 'temp_max...",NaN,NaN,"[{'id': 801, 'main': 'Clouds', 'description': ...","{'speed': 2, 'deg': 80}"
...,...,...,...,...,...,...,...,...,...
26247,5799783,{'all': 1},1451502000,2015-12-30 19:00:00 +0000 UTC,"{'temp': 275.45, 'temp_min': 273.15, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 1, 'deg': 99}"
26248,5799783,{'all': 1},1451505600,2015-12-30 20:00:00 +0000 UTC,"{'temp': 276.47, 'temp_min': 275.15, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 1, 'deg': 99}"
26249,5799783,{'all': 1},1451509200,2015-12-30 21:00:00 +0000 UTC,"{'temp': 276.945, 'temp_min': 276.945, 'temp_m...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 1, 'deg': 99}"
26250,5799783,{'all': 1},1451512800,2015-12-30 22:00:00 +0000 UTC,"{'temp': 277.42, 'temp_min': 276.15, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 1, 'deg': 99}"
26251,5799783,{'all': 0},1451516400,2015-12-30 23:00:00 +0000 UTC,"{'temp': 274.3745, 'temp_min': 274.3745, 'temp...",{'3h': 0},{'3h': 0},"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 92}"
26252,5799783,{'all': 1},1451520000,2015-12-31 00:00:00 +0000 UTC,"{'temp': 277.51, 'temp_min': 275.15, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 86}"
26253,5799783,{'all': 0},1451523600,2015-12-31 01:00:00 +0000 UTC,"{'temp': 273.1445, 'temp_min': 273.1445, 'temp...",{'3h': 0},{'3h': 0},"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 85}"
26254,5799783,{'all': 1},1451527200,2015-12-31 02:00:00 +0000 UTC,"{'temp': 274.96, 'temp_min': 272.15, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 85}"
26255,5799783,{'all': 1},1451530800,2015-12-31 03:00:00 +0000 UTC,"{'temp': 274.085, 'temp_min': 274.085, 'temp_m...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 85}"
26256,5799783,{'all': 1},1451534400,2015-12-31 04:00:00 +0000 UTC,"{'temp': 273.21, 'temp_min': 270.15, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 85}"
26257,5799783,{'all': 1},1451538000,2015-12-31 05:00:00 +0000 UTC,"{'temp': 272.16, 'temp_min': 269.15, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 1, 'deg': 150}"
26258,5799783,{'all': 1},1451541600,2015-12-31 06:00:00 +0000 UTC,"{'temp': 271.93, 'temp_min': 271.93, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 121}"
26259,5799783,{'all': 1},1451545200,2015-12-31 07:00:00 +0000 UTC,"{'temp': 271.7, 'temp_min': 269.15, 'temp_max'...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 93}"
26260,5799783,{'all': 0},1451548800,2015-12-31 08:00:00 +0000 UTC,"{'temp': 266.784, 'temp_min': 266.784, 'temp_m...",{'3h': 0},{'3h': 0},"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 93}"
26261,5799783,{'all': 1},1451552400,2015-12-31 09:00:00 +0000 UTC,"{'temp': 270.57, 'temp_min': 267.15, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 93}"
26262,5799783,{'all': 0},1451556000,2015-12-31 10:00:00 +0000 UTC,"{'temp': 266.044, 'temp_min': 266.044, 'temp_m...",{'3h': 0},{'3h': 0},"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 95}"
26263,5799783,{'all': 1},1451559600,2015-12-31 11:00:00 +0000 UTC,"{'temp': 270.22, 'temp_min': 266.15, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 96}"
26264,5799783,{'all': 1},1451563200,2015-12-31 12:00:00 +0000 UTC,"{'temp': 270.02, 'temp_min': 267.15, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 96}"
26265,5799783,{'all': 1},1451566800,2015-12-31 13:00:00 +0000 UTC,"{'temp': 269.86, 'temp_min': 266.15, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 1, 'deg': 94}"
26266,5799783,{'all': 0},1451570400,2015-12-31 14:00:00 +0000 UTC,"{'temp': 265.476, 'temp_min': 265.476, 'temp_m...",{'3h': 0},{'3h': 0},"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 1, 'deg': 93}"
26267,5799783,{'all': 1},1451574000,2015-12-31 15:00:00 +0000 UTC,"{'temp': 269.42, 'temp_min': 266.15, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 1, 'deg': 94}"
26268,5799783,{'all': 0},1451577600,2015-12-31 16:00:00 +0000 UTC,"{'temp': 265.756, 'temp_min': 265.756, 'temp_m...",{'3h': 0},{'3h': 0},"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 1, 'deg': 94}"
26269,5799783,{'all': 1},1451581200,2015-12-31 17:00:00 +0000 UTC,"{'temp': 270.42, 'temp_min': 265.15, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 1, 'deg': 97}"
26270,5799783,{'all': 1},1451584800,2015-12-31 18:00:00 +0000 UTC,"{'temp': 273.78, 'temp_min': 270.15, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 1, 'deg': 97}"
26271,5799783,{'all': 1},1451588400,2015-12-31 19:00:00 +0000 UTC,"{'temp': 274.64, 'temp_min': 274.64, 'temp_max...",{'1h': 0.30000000000000004},NaN,"[{'id': 500, 'main': 'Rain', 'description': 'l...","{'speed': 1, 'deg': 97}"
26272,5799783,{'all': 1},1451592000,2015-12-31 20:00:00 +0000 UTC,"{'temp': 275.5, 'temp_min': 272.15, 'temp_max'...",{'1h': 0.30000000000000004},NaN,"[{'id': 500, 'main': 'Rain', 'description': 'l...","{'speed': 1, 'deg': 98}"
26273,5799783,{'all': 1},1451595600,2015-12-31 21:00:00 +0000 UTC,"{'temp': 277.2, 'temp_min': 275.15, 'temp_max'...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 2, 'deg': 330}"
26274,5799783,{'all': 1},1451599200,2015-12-31 22:00:00 +0000 UTC,"{'temp': 277.525, 'temp_min': 277.525, 'temp_m...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 1, 'deg': 210}"
26275,5799783,{'all': 1},1451602800,2015-12-31 23:00:00 +0000 UTC,"{'temp': 277.85, 'temp_min': 276.55, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 90}"
26276,5799783,{'all': 1},1451606400,2016-01-01 00:00:00 +0000 UTC,"{'temp': 276.98, 'temp_min': 276.98, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 90}"

In [17]:
#weatherdata.head()

,city_id,clouds,dt,dt_iso,main,rain,snow,weather,wind,new_col
0,5799783,{'all': 1},1356998400,2013-01-01 00:00:00 +0000 UTC,"{'temp': 275.62, 'temp_min': 271.48, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 1, 'deg': 350}",271.48
1,5799783,{'all': 1},1357002000,2013-01-01 01:00:00 +0000 UTC,"{'temp': 275.61, 'temp_min': 273.71, 'temp_max...",NaN,NaN,"[{'id': 800, 'main': 'Clear', 'description': '...","{'speed': 0, 'deg': 0}",273.71
2,5799783,{'all': 20},1357005600,2013-01-01 02:00:00 +0000 UTC,"{'temp': 274.23, 'temp_min': 270.37, 'temp_max...",NaN,NaN,"[{'id': 801, 'main': 'Clouds', 'description': ...","{'speed': 0, 'deg': 0}",270.37
3,5799783,{'all': 1},1357009200,2013-01-01 03:00:00 +0000 UTC,"{'temp': 273.95, 'temp_min': 270.37, 'temp_max...",NaN,NaN,"[{'id': 701, 'main': 'Mist', 'description': 'm...","{'speed': 0, 'deg': 0}",270.37
4,5799783,{'all': 75},1357012800,2013-01-01 04:00:00 +0000 UTC,"{'temp': 273.55, 'temp_min': 269.82, 'temp_max...",NaN,NaN,"[{'id': 701, 'main': 'Mist', 'description': 'm...","{'speed': 0, 'deg': 0}",269.82

In [ ]:
#new_df['weather']

In [ ]:
#new_df['weather'][0]

In [10]:
#new_df['weather'][0][0]['main']